*
{
    margin: 0px;
}
.padre
{
    width: 950px;
    height: 550px;
    background-color: lightblue;
    padding: 50px;

}
.hijo1
{
    width: 850px;
    height: 450px;
    background-color: blue;
    padding: 50px;
    



}
/*.hijo2
{
    background-color: blueviolet;
    width: 400px;
    height: 100px;


}*/
.nieto1
{
    width: 750px;
    height: 350px;
    background-color: darkslateblue;
    padding: 50px;
}
.nivel4
{
    background-color: blue;
    width: 650px;
    height: 250px;
    padding: 50px;

}
.nivel5
{
    background-color: blueviolet;
    width: 550px;
    height: 150px;
    padding: 50px;

}
.nivel6{
    background-color: darkblue;
    width: 450px;
    height: 50px;
    padding: 50px;
}
.nivel7{
    background-color:white;
    width: 430px;
    height: 50px;
    padding:  5px;
    text-align: center;
    
    
}